<!DOCTYPE html>
<html>
  <head>
    <title>有“哔”格</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
        <ul>
          <li><a class="selected">新玩意</a></li>
          <li><a>有好玩</a></li>
          <li><a>送礼物</a></li>
        </ul>
        <div class="logo">
            有<span>哔</span>格
        </div>
    </div>
    <div class="wrapper">
        <div class="main">
          <ul>
            <li>
                <img src="/images/2.jpg">
                <p>家用智能机器人</p>
                <a>看一看</a>
            </li>
            <li>
                <img src="/images/3.jpg">
                <p>墙壁装饰鹿头</p>
                <a>看一看</a>
            </li>
            <li>
                <img src="/images/4.jpg">
                <p>颜值与性能并存的暖手宝</p>
                <a>看一看</a>
            </li>
          </ul>
        </div>
    </div>
    <div class="footer">

    </div>
  </body>
</html>
