* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}

@keyframes circle
{
from {transform: rotate(-30deg);}
to {transform: rotate(330deg);}
}

@-moz-keyframes circle
{
  from {transform: rotate(-30deg);}
  to {transform: rotate(330deg);}
}

@-webkit-keyframes circle
{
  from {transform: rotate(-30deg);}
  to {transform: rotate(330deg);}
}

.header {
  border-top: #26bbad 8px solid;
}

.header ul {
  overflow: hidden;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.header ul li {
  display: inline-block;
  margin: 0 5px;
  height: auto;
}

.header ul li a {
  display: inline-block;
  color: #000;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  font-size: 14px;
  transition: all 0.3s;
}

.header ul li a:hover {
  color: #fff;
  background: #000;
}

.header ul li a.selected {
  color: #fff;
  background: #000;
}

.header .logo {
  font-size: 30px;
  color: #000;
  font-weight: 100;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 2px solid #000;
  margin: 15px auto;
}

.header .logo span {
  font-weight: 600;
  font-size: 30px;
  margin: 0 5px;
  transform: rotate(-30deg);
  display: inline-block;
  transition: transform 0.3s;
}

.header .logo:hover span{
  /*transform: rotate(0deg);*/
  animation: circle 1s infinite;
-moz-animation: circle 1s infinite;	/* Firefox */
-webkit-animation: circle 1s infinite;	/* Safari å’Œ Chrome */
}


.wrapper {
  padding: 20px;
}

.wrapper ul.list {}

.wrapper ul.list li {
  display: inline-block;
  height: 288px;
  width: 288px;
  overflow: hidden;
  position: relative;
  margin: 20px;
  box-shadow: 0 0 2px rgba(150,150,150,0.5);
}

.wrapper ul.list li img {
  width: 288px;
  height: 288px;
}

.wrapper ul.list li a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  color: #000;
  width: 60px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 12px;
  transition: all 0.3s;
}

.wrapper ul.list li:hover a {
  background: #000;
  color: #fff;
}

.wrapper ul.list li p {
  background: rgba(255,255,255,0.9);
  color: #000;
  height: 200px;
  padding: 44px;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}

.wrapper ul.list li:hover p {
  display: block;
  opacity: 1;
}


/* category list*/

.wrapper .category {
   float: left;
   width: 25%;
   position: relative;
   padding: 20px;
   box-sizing: border-box;
}

.wrapper .category h3 {
  font-size: 14px;
  border-bottom: 1px dashed #eee;
  padding-bottom: 10px;
  font-weight: 400;
}

.wrapper .category ul {
  margin-bottom: 20px;
}

.wrapper .category ul li a {
  display: block;
  line-height: 26px;
  padding: 5px 0;
  color: #999;
  font-weight: 100;
  font-size: 13px;
  transition: color 0.3s;
}

.wrapper .category ul li a:hover {
  color: #26bbad;
}

.wrapper .goods-list {
  float: left;
  width: 75%;
  position: relative;
}
